@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body{
    background: url('/img/azul\ con\ violeta.jpg');
    background-size: cover;
}

/* navbar y header */

.header{
    background-color: rgb(15, 0, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.div-izquierdo{
    display: flex;
}

.div-derecho{
    display: flex;
}

.header .logo{
    width: 70px;   
    cursor: pointer; 
    transition: 0.5s;    
}
.div-logo{
    margin-right: 0;
}

.logo:hover{
    transform: scale(1.2);
}    

.btn-menu{
    font-size: 16px;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin: 8px;
}

.btn-menu-responsive{
    display: none;
}    

.header .sub-menu li{
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
}

.header .sub-menu li:hover{
    transform: scale(1.1);
}

.btn-menu{
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
}

.btn-menu:hover{
    background-color: rgb(35, 46, 98);
}

.sub-menu{
    background-color: rgb(15, 0, 68);
    position: absolute;
    display: none;    
    width: 20%;
    top: 4rem;
    padding: 10px;
    margin: 0rem 20px 20px 8px;
    /* border-radius: 10px; */
}

.btn-menu:hover + .sub-menu{
 display: block;
}


.sub-menu:hover{
    display: block;
    cursor: pointer;
}

.sub-menu li:hover{
    background-color: rgb(35, 46, 98);
    border-radius: 5px;
}

.container-button{
    padding: 6px;
}

.header a button {
    font-size: 16px;
    background-color: rgb(35, 46, 98);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin: 8px;    
}

.header a button:hover{
    transform: scale(1.2);
}


.logos-nav{
    width: 30px;
    height: 30px;
}



#logos-nav{
    background-color: transparent;
}

.logo-user{
    display: none;
}

.casilla-usuario{
    display: flex;
}

.div-barra-busqueda{
    position: flex;
    top: 6rem;
    background-color: rgb(15, 0, 68);
    padding: 10px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    
}

.container-barra-busqueda{
    display: none;
    
}

.barra-busqueda{
    background-color: rgb(35, 46, 98);
    border-radius: 8px;
    border: none;
    width: 90vw;
    
}

.logos-nav-lupa{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/*  NAV RESPONSIVE  */

@media screen and (max-width: 990px) {
  
    .header{
        background-color: rgb(15, 0, 68);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 0px 0px;
        width: 100%;
        position: fixed;
        z-index: 4;
        
    }
    
    .div-izquierdo{        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .div-derecho{
        display: flex;
        margin-right: 15px;
    }
    
    .header .logo{
        width: 70px;   
        cursor: pointer; 
        transition: 0.5s;    
    }
    .div-logo{
        margin-right: 0;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo:hover{
        transform: scale(1.2);
    }    
    
    .btn-menu{
        font-size: 16px;
        color: white;
        border: none;
        padding: 8px;
        cursor: pointer;
        margin: 8px;
    }   
    
    
    .header .sub-menu li{
        display: inline-block;
        padding: 5px 20px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        
        width: 100%;
    }

    .header .sub-menu li:hover{
        transform: none;
    }
    
    
    
    .btn-menu{        
        display: none;
    }
    
    
    .sub-menu{
        background-color: rgb(15, 0, 68);
        position: absolute;
        width: 60%;
        top: 4.5rem;
        padding: 20px;
        margin: 0rem 20px 20px 0px;
        display: none;     
    }    

    .logo-menu{
        width: 40px;
    }

    .btn-menu-responsive{
        position: relative;
        background-color: transparent;
        border-radius: 8px;
        padding: 20px;
        display: block;
        cursor: pointer;
        border-color: transparent;
    }    

    


    .btn-menu-responsive:hover ~ .sub-menu{
     display: block;
    
    }
    
    
    .sub-menu:hover{
        display: block;
        cursor: pointer;
    }
    
    .sub-menu li:hover{
        background-color: transparent;
        transform: none;
        
    }
    
    .container-button{
        padding: 6px;
    }
    
    .header a button {
        font-size: 16px;
        background-color: rgb(35, 46, 98);
        color: white;
        border: none;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
        margin: 8px;    
    }
    
    .header a button:hover{
        transform: none;
    }
    
    
    .logos-nav{
        width: 30px;
        height: 30px;
    }
    
    #logos-nav{
        background-color: transparent;
    }
    
    .div-barra-busqueda{
        position: relative;
        display: inline-flex;
    }
    
    .container-barra-busqueda{
        padding: 13px;
        padding-right: 0;
        justify-content: flex-end;
        display: flex;
    }
    
    .header form .barra-busqueda {
        font-size: 16px;
        padding: 8px;
        border-radius: 40px;
        border-color: transparent;
        color: white;
        background-color: rgb(35, 46, 98);
        cursor: pointer;
        display: flex;
        min-width: 63px;
        width: 63px;
        display: flex;
    }
    
    
    .header form .barra-busqueda:focus{
        width: 100%;
        display: flex;
    }
    

    
    .button-busqueda{
        position: relative;
        right: 0;


    }

    /* .div-barra-busqueda:hover{
        top: 6rem;
        background-color: rgb(15 0 68);
        border-radius: 32px;
        width: 24rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */

    


    .logo-user{
        display: flex;
        width: 40px;
        height: 40px;
        transition: 0.5s;
    }

    .casilla-usuario{
        background-color: rgb(15, 0, 68);
        position: absolute;
        width: 60%;
        top: 4.5rem;
        right: -2rem;
        padding: 20px;
        margin: 0rem 20px 20px 0px;
        display: none;
    }

    .casilla-usuario:hover{
        display: block;
    }

    .logo-user:hover ~ .casilla-usuario{
        display: block;
    }

    

}



/* carousel */
.section__carousel {
    padding-top: 100px;
}

.carousel {
    width: 100%;
    box-shadow: 1em 1em 1em -1em grey;
    overflow: hidden;
}

.carousel .big {
    width: 200%;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 1em 1em 1em -1em grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 3s ease;
    transform: translateX(0);
}

.carousel .img {
    width: calc( 100% / 2);
    background-color: tomato;
    min-height: 10vh;
    border-radius: .5rem;
    box-shadow: 1em 1em 1em -1em grey;
}

.carousel .arrows {
    width: calc(100% - 2em);
    padding: 0;
    margin: 1em;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    z-index: 3;
    top: 45%;
}

.carousel .arrow {
    width: 3rem;
    height: 3rem;
}

.carousel .arrow:hover, .point:hover {
    cursor: pointer;
}

.carousel .no-activo {
    opacity: .3;
}

.carousel .activo {
    display: none;
}

.carousel .points {
    width: 100%;
    padding: 0.4em;
    margin: 1em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 85%;
}

.carousel .point {
    width: 4rem;
    height: .3rem;
    background-color: white;
    box-shadow: .2em .2em .9em gray;

    margin: 1em;
    border-radius: 1em;
}

.carousel .point.active {
    background-color: #00ffff;
}

/* type products */

.section__type__products {
    width: 100%;
    margin: 2rem 0;
    overflow: hidden;
    padding: 1rem 0;
}

.ul__type__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0rem;
}

.type__products {
    
    display: flex;
    width: 25%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0em 1em 1em -1em grey;
    transition: all .5s ease-out;
    background-color: #f4f4f4;    
}

.type__products:hover {
    transform: scale(1.2);
    animation: opacitied 1s ease;
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
}

@keyframes opacitied {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

/*card */

.container__products {
    margin-top: 3rem;
}


.container__products .title__section__products {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 4rem 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-around;
    background-color: transparent;
}

.products .container__card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 2rem 1.5rem;
    border-radius: 10px;
    background-color: transparent;
}

.products .container__img__card {
    height: 100%;
    border-radius: 10px 10px 0 0;
    padding: 1.5rem;
    padding-bottom: 0;
    background-color: white;
}

.products .img__card {
    width: 100%;
}

.products .container__info__card {
    display: flex;
    height: 100%;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 0 0 10px 10px;
}

.products .title__card {
    text-align: center;
    padding: .2rem;
    text-align: center;
}

.products .container__check__stock {
    display: flex;
    margin: 0 1rem ;
}

.products .stock__products {
    margin: .5rem;
    display: block;
    width: 100%;
}

.products .price__products {
    display: block;
    margin: .5rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.products .price__products__old {
    text-decoration: line-through;
    color: #5792eb;
    font-weight: bold;
}

.products .financing {
    font-size: .8rem;
    margin: 0.5rem 1rem;
}

.products .price__card {
    color: #5792eb;
}

.products .btn__products {
    color: white;
    display: flex;
    justify-content: center;
    width: 90%;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: .5rem 1rem;
    padding: .7rem;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(54, 209, 220) 0%, rgb(91, 134, 229) 51%, rgb(54, 209, 220) 100%);
    background-size: 200% auto;
    border: none;
    transition: .5s;
}

.products .btn__products:hover {
    background-position: 100%;
    cursor: pointer;
}

.products .text__btn {
    margin: 0.4rem 0 0.4rem 1rem;
}

.products .container__card:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1em 1em 1em -1em gray;
}


/* shipping */
.section__shipping {
    margin: 1rem 0 0 0;
}
.container__shipping {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.shipping {
    text-align: center;
    margin: 2rem;
}

.truck__fast, .check__shield, .credit__card {
    width: 50px;
    height: 50px;
}

/* div rgb */

.iva {
    background: #ff0059;
    background: -webkit-linear-gradient(45deg,rgba(255,0,0,1) 0%,rgba(255,0,255,1) 18%,rgba(0,0,255,1) 30%,rgba(0,240,255,1) 45%,rgba(0,255,0,1) 63%,rgba(255,255,0,1) 80%,rgba(255,120,0,1) 90%,rgba(255,0,0,1) 100%);
    background-size: 400% 400%;
    animation: rgbBg 20s linear infinite;
    -moz-animation: rgbBg 20s linear infinite;
    -webkit-animation: rgbBg 20s linear infinite;
    position: relative;
    padding: 3px;
}

@keyframes rgbBg {
    0% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 400%;
    }
}

/* esta seccion esta dedicada al footer de la pagina */

footer {
    background-color: rgb(15, 0, 68);
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
  }
  
  .footer-container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  

  
  .footer-links ul, .footer-social ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li, .footer-social li {
    margin: 0 10px;    
  }

  .footer-links li{
    transition: 0.5s;
  }

  .footer-links li:hover{
    transform: scale(1.1);
  }
  
  .footer-links a, .footer-social a {
    color: #fff;
    text-decoration: none;
    
  }
  

  
  .footer-social i {
    font-size: 20px;
  }
  
  .footer-copy {
    background-color: rgb(15, 0, 68);
    text-align: center;
    padding: 10px 0;
  }

  .logos-redes-sociales{
    width: 25px;
  }

  .logos-redes-sociales:hover{
    opacity: 0.5;
  }

  /* mobile */

  @media screen and (max-width: 500px) {
    /* carousel responsive */
    .arrows {
        top: 8.5rem !important;
    }
    
    .points {
        display: none !important;
    }

    /* type products responsive */

    .type__products {
        font-size: .7rem;
    }
}