@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* navbar y header */
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: rgb(15, 0, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.div-izquierdo{
    display: flex;
}

.div-derecho{
    display: flex;
}

.header .logo{
    width: 70px;   
    cursor: pointer; 
    transition: 0.5s;    
}
.div-logo{
    margin-right: 0;
}

.logo:hover{
    transform: scale(1.2);
}

.btn-menu{
    font-size: 16px;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin: 8px;
}

.header .sub-menu li{
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
}

.header .sub-menu li:hover{
    transform: scale(1.1);
}

.btn-menu{
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
}

.btn-menu:hover{
    background-color: rgb(35, 46, 98);
}

.sub-menu{
    background-color: rgb(15, 0, 68);
    position: absolute;
    display: none;    
    width: 20%;
    top: 4rem;
    padding: 10px;
    margin: 0rem 20px 20px 8px;
    /* border-radius: 10px; */
}

.btn-menu:hover + .sub-menu{
 display: block;
}


.sub-menu:hover{
    display: block;
    cursor: pointer;
}

.sub-menu li:hover{
    background-color: rgb(35, 46, 98);
    border-radius: 5px;
}

.container-button{
    padding: 6px;
}

.header a button {
    font-size: 16px;
    background-color: rgb(35, 46, 98);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin: 8px;    
}

.header a button:hover{
    transform: scale(1.2);
}


.logos-nav{
    width: 30px;
    height: 30px;
}

#logos-nav{
    background-color: transparent;
}

.container-barra-busqueda{
    padding: 13px;
}

.header form .barra-busqueda {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: white;
    background-color:  rgb(15, 0, 68);
}

.header form .barra-busqueda:focus{
    outline: none;
}




/* carousel */
.section__carousel {
    height: 100vh;
    background: url(../img/fondo.jpg);
    background-size: cover;
}

.carousel {
    width: 100%;    
    background-color: #f4f4f4;
    box-shadow: 1em 1em 1em -1em grey;
    overflow: hidden;
    position: absolute;
    top: 100px;
}

.carousel .big {
    width: 200%;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 1em 1em 1em -1em grey;


    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all 3s ease;
    transform: translateX(0);
}

.carousel .img {
    width: calc( 100% / 2);
    height: 500px;
    background-color: tomato;
    min-height: 10vh;
    border-radius: .5rem;
    box-shadow: 1em 1em 1em -1em grey;
}

.carousel .arrows {
    width: calc(100% - 2em);
    padding: 0;
    margin: 1em;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    z-index: 3;
    top: 220px;
}

.carousel .arrow {
    width: 5em;
    height: 3em;
}

.carousel .arrow:hover, .point:hover {
    cursor: pointer;
}

.carousel .no-activo {
    opacity: .3;
}

.carousel .activo {
    display: none;
}

.carousel .points {
    width: 100%;
    padding: 0.4em;
    margin: 1em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 400px;
}

.carousel .point {
    width: 1em;
    height: 1em;
    background-color: white;
    box-shadow: .2em .2em .9em gray;

    margin: 1em;
    border-radius: 1em;
}

.carousel .point.active {
    background-color: #00ffff;
}

/* type products */

.section__type__products {
    position: absolute;
    top: 610px;
    width: 100%;
}

.ul__type__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 1rem;
}

.type__products {
    display: flex;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1em 1em 1em -1em grey;
    border-radius: 10px;
    transition: all .5s ease-out;
    
}

.type__products:hover {
    transform: scale(1.2);
    animation: opacitied 1s ease;
    background: url(../img/fondo2.jpg);
    background-size: 100% 100%;
    cursor: pointer;
    color: #f4f4f4;
}

@keyframes opacitied {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
/* Products */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products .container__card {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 2rem 1.5rem;
}

.products .container__img__card {
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}

.products .img__card {
    width: 100%;
}

.products .container__info__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
    margin: 1rem 1rem 1rem 0;
}

.products .title__card {
    text-align: center;
    padding: .2rem;
    text-align: center;
}

.products .container__check__stock {
    display: flex;
    margin: 0 1rem ;
}

.products .stock__products {
    margin: .5rem;
    display: block;
    width: 100%;
}

.products .price__products {
    display: block;
    margin: .5rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.products .financing {
    font-size: .8rem;
    margin: 0.5rem 1rem;
}

.products .price__card {
    color: blue;
}

.products .btn__products {
    display: flex;
    justify-content: center;
    width: 90%;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: .5rem 1rem;
    padding: .7rem;
    border-radius: 20px;
    background-color: violet;
}

.products .text__btn {
    margin: 0.4rem 0 0.4rem 1rem;
}

.products .container__card:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid black;
}


